<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.dao.DepositRecordDao">

    <resultMap type="com.yk.pojo.DepositRecord" id="resultMap">
        <!-- 用id属性来映射主键字段 -->
        <id property="id" column="_id"/>
        <!-- 用result属性来映射非主键字段 -->
        <result property="recordId" column="record_id"/>
        <result property="userId" column="user_id"/>
        <result property="deposit" column="deposit"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <parameterMap id="parameterMap" type="com.yk.pojo.DepositRecord">
        <parameter property="recordId" resultMap="resultMap"/>
        <parameter property="userId" resultMap="resultMap"/>
        <parameter property="deposit" resultMap="resultMap"/>
        <parameter property="createTime" resultMap="resultMap"/>
    </parameterMap>

    <select id="selectOne" resultMap="resultMap">
        select *
        from deposit_record
        where ${column} = #{property}
    </select>

    <select id="selectList" resultMap="resultMap">
        select *
        from deposit_record
        where ${column} = #{property} order by create_time desc;
    </select>

    <select id="selectTable" resultMap="resultMap">
        select *
        from deposit_record order by create_time desc;
    </select>

    <select id="queryPage" resultMap="resultMap">
        select *
        from deposit_record
        where ${column} = #{property}
        limit ${(pageIndex-1) * pageSize},#{pageSize}
    </select>

    <select id="queryPageTable" resultMap="resultMap">
        select *
        from deposit_record
        limit ${(pageIndex-1) * pageSize},#{pageSize}
    </select>

    <insert id="insert" parameterMap="parameterMap">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into
        deposit_record(`_id`,record_id,user_id,deposit,create_time)
        values
        (null,#{recordId},#{userId},#{deposit},#{createTime})
    </insert>

    <update id="update" parameterMap="parameterMap">
        update
            deposit_record
        set user_id        = #{userId},
            deposit        = #{deposit},
            create_time    = #{createTime}
        where record_id = #{recordId}
    </update>

    <delete id="delete" parameterMap="parameterMap">
        delete
        from deposit_record
        where record_id = #{recordId}
    </delete>
</mapper>