<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.dao.UserInfoDao">

    <resultMap type="com.yk.pojo.UserInfo" id="resultMap">
        <!-- 用id属性来映射主键字段 -->
        <id property="id" column="_id"/>
        <!-- 用result属性来映射非主键字段 -->
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userPhone" column="user_phone"/>
        <result property="userPassword" column="user_password"/>
        <result property="deposit" column="deposit"/>
        <result property="balance" column="balance"/>
    </resultMap>

    <parameterMap id="parameterMap" type="com.yk.pojo.UserInfo">
        <parameter property="userId" resultMap="resultMap"/>
        <parameter property="userName" resultMap="resultMap"/>
        <parameter property="userPhone" resultMap="resultMap"/>
        <parameter property="userPassword" resultMap="resultMap"/>
        <parameter property="deposit" resultMap="resultMap"/>
        <parameter property="balance" resultMap="resultMap"/>
    </parameterMap>

    <!-- 目的：为dao接口方法提供sql语句配置 -->
    <select id="selectOne" resultMap="resultMap">
        select *
        from user_info
        where ${column} = #{property}
    </select>

    <select id="selectList" resultMap="resultMap">
        select *
        from user_info
        where ${column} = #{property}
    </select>

    <select id="selectTable" resultMap="resultMap">
        select *
        from user_info
    </select>

    <insert id="insert" parameterMap="parameterMap">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into
        user_info(`_id`,user_id,user_name,user_phone,user_password,deposit,balance)
        values
        (null,#{userId},#{userName},#{userPhone},#{userPassword},#{deposit},#{balance})
    </insert>

    <update id="update" parameterMap="parameterMap">
        update
            user_info
        set
            user_name     = #{userName},
            user_phone    = #{userPhone},
            user_password = #{userPassword},
            deposit       = #{deposit},
            balance       = #{balance}
        where
            user_id = #{userId}
    </update>

    <delete id="delete" parameterMap="parameterMap">
        delete from user_info
        where user_id = #{userId}
    </delete>
</mapper>