<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.bike.mapper.BalanceRecordMapper">

    <resultMap type="com.yk.bike.pojo.BalanceRecord" id="resultMap">
        <!-- 用id属性来映射主键字段 -->
        <id property="id" column="_id"/>
        <!-- 用result属性来映射非主键字段 -->
        <result property="recordId" column="record_id"/>
        <result property="userId" column="user_id"/>
        <result property="balance" column="balance"/>
        <result property="createTime" column="create_time"/>
        <result property="isExchange" column="isExchange"/>
    </resultMap>

    <parameterMap id="parameterMap" type="com.yk.bike.pojo.BalanceRecord">
        <parameter property="recordId" resultMap="resultMap"/>
        <parameter property="userId" resultMap="resultMap"/>
        <parameter property="balance" resultMap="resultMap"/>
        <parameter property="createTime" resultMap="resultMap"/>
        <parameter property="isExchange" resultMap="resultMap"/>
    </parameterMap>

    <select id="selectOne" resultMap="resultMap">
        select *
        from balance_record
        where ${column} = #{property}
    </select>

    <select id="selectList" resultMap="resultMap">
        select *
        from balance_record
        where ${column} = #{property}
        order by create_time desc;
    </select>

    <select id="selectDate" resultMap="resultMap">
        select *
        from balance_record
        where create_time &gt;= #{startTime} and create_time &lt;= #{endTime}
    </select>

    <select id="selectLike" resultMap="resultMap">
        select *
        from balance_record
        where ${column} like '%#{property}%'
    </select>

    <select id="selectTable" resultMap="resultMap">
        select *
        from balance_record
        where isExchange <![CDATA[ < ]]> '1'
        order by create_time desc;
    </select>

    <select id="queryPage" resultMap="resultMap">
        select *
        from balance_record
        where ${column} = #{property}
        order by create_time desc
        limit ${(pageIndex-1) * pageSize},#{pageSize}
    </select>

    <select id="queryPageTable" resultMap="resultMap">
        select *
        from balance_record
        where isExchange <![CDATA[ < ]]> '1'
        order by create_time desc
        limit ${(pageIndex-1) * pageSize},#{pageSize}
    </select>

    <insert id="insert" parameterMap="parameterMap">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into
        balance_record(`_id`,record_id,user_id,balance,create_time,isExchange)
        values
        (null,#{recordId},#{userId},#{balance},#{createTime},#{isExchange})
    </insert>

    <update id="update" parameterMap="parameterMap">
        update
            balance_record
        set user_id     = #{userId},
            balance     = #{balance},
            create_time = #{createTime},
            isExchange  = #{isExchange}
        where record_id = #{recordId}
    </update>

    <delete id="delete" parameterMap="parameterMap">
        delete
        from balance_record
        where record_id = #{recordId}
    </delete>
</mapper>