<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.bike.mapper.BikeTypeMapper">

    <resultMap type="com.yk.bike.pojo.BikeType" id="resultMap">
        <!-- 用id属性来映射主键字段 -->
        <id property="id" column="_id"/>
        <!-- 用result属性来映射非主键字段 -->
        <result property="typeId" column="type_id"/>
        <result property="typeValue" column="type_value"/>
        <result property="typeName" column="type_name"/>
        <result property="unitPrice" column="unit_price"/>
    </resultMap>

    <parameterMap id="parameterMap" type="com.yk.bike.pojo.BikeType">
        <parameter property="typeId" resultMap="resultMap"/>
        <parameter property="typeValue" resultMap="resultMap"/>
        <parameter property="typeName" resultMap="resultMap"/>
        <parameter property="unitPrice" resultMap="resultMap"/>
    </parameterMap>

    <select id="selectOne" resultMap="resultMap">
        select *
        from bike_type
        where ${column} = #{property}
    </select>

    <select id="selectList" resultMap="resultMap">
        select *
        from bike_type
        where ${column} = #{property}
    </select>

    <select id="selectTable" resultMap="resultMap">
        select *
        from bike_type
    </select>

    <select id="queryPage" resultMap="resultMap">
        select *
        from bike_type
        where ${column} = #{property}
        limit ${(pageIndex-1) * pageSize},#{pageSize}
    </select>

    <select id="queryPageTable" resultMap="resultMap">
        select *
        from bike_type
        limit ${(pageIndex-1) * pageSize},#{pageSize}
    </select>

    <insert id="insert" parameterMap="parameterMap">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into
        bike_type(`_id`,type_id,type_value,type_name,unit_price)
        values
        (null,#{typeId},#{typeValue},#{typeName},#{unitPrice})
    </insert>

    <update id="update" parameterMap="parameterMap">
        update
            bike_type
        set type_value= #{typeValue},
            type_name= #{typeName},
            unit_price= #{unitPrice}
        where type_id = #{typeId}
    </update>

    <delete id="delete" parameterMap="parameterMap">
        delete
        from bike_type
        where type_id = #{typeId}
    </delete>
</mapper>